body {
  font-family: "changa", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2d4861;
}
.overflow {
  overflow: hidden;
}
:root {
  --main-color: #2d4861;
  --main-hover: #ec7721;
  --sec-color: #89a6c0;
  --background-color: #2d4861;
  --black-color: #000000;
  --white-color: #ffffff;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}
/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 222000;
  top: 0;
  /* right: 100%; */
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgba(255, 255, 255, 100);
  background-image: linear-gradient(
    135deg,
    var(--sec-color),
    var(--main-color)
  );
  /* border-radius: 4px 4px 4px 4px; */
}
html[dir="ltr"] .progress-bar {
  background-image: linear-gradient(
    135deg,
    var(--main-color),
    var(--sec-color)
  );
}
@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/
/*                          header section                     */
/*top header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}
.top-header a {
  text-decoration: none;
}
.show-icons {
  display: none;
}
.show-icons .menu-bars {
  display: none;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px 15px;
  transition: all 0.3s ease-in-out;
}
.nav-header li a {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.nav-header li a:hover {
  color: var(--main-hover);
}
.nav-header li {
  margin-inline-end: 30px;
}
.nav-header li:last-of-type {
  margin-inline-end: 0;
}
.nav-header .big-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.fixed-nav {
  background-color: var(--background-color);
  margin-top: -200px;
  transition: all 0.3s ease-in-out;
}
.fixed-nav .nav-header {
  padding: 10px 50px;
}
.fixed-header {
  position: fixed;
}
.fixed-header .fixed-nav {
  margin: 0;
}
.fixed-nav .nav-header figure img {
  max-width: 120px;
  width: 120px;
  transition: all 0.3s ease-in-out;
}
.nav-header figure {
  margin: 0;
}
.nav-header figure img {
  max-width: 180px;
  width: 180px;
  transition: all 0.3s ease-in-out;
}
.nav-head {
  height: 38px;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.open-bars::after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  color: var(--white-color);
}
.close-bars::after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  color: #fff;
}
/*                          header section                     */
/*                            main                           */
main {
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(45, 72, 92);
  background: linear-gradient(
    180deg,
    rgba(45, 72, 92, 0.97) 0%,
    rgba(2, 0, 36, 0) 80%,
    rgba(2, 0, 36, 0) 100%
  );
  z-index: 1;
}
main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 72, 97, 0.302);
  z-index: 2;
}
.main-cont-relative {
  position: relative;
  height: 100vh;
  z-index: 3;
}
main .main-cont {
  position: absolute;
  top: 50%;
  inset-inline-start: 0;
  width: 100%;
  text-align: start;
  transform: translateY(-50%);
  z-index: 2;
}
main .main-captions {
  text-decoration: none;
  font-size: 55px;
  line-height: 65px;
  color: var(--white-color);
  font-weight: 700;
  max-width: 857px;
  display: block;
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] main .main-captions {
  font-size: 40px;
  line-height: 55px;
}
.link-btn-cont {
  display: flex;
  align-items: center;
  justify-content: start;
}
.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}
.main-cont .first-btn {
  width: 238px;
  height: 60px;
  font-size: 24px;
}
.second-btn {
  font-size: 14px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255);
  display: inline-flex;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.first-btn {
  background-color: var(--main-hover);
  display: inline-flex;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.first-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-color);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.second-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-hover);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.first-btn:hover:before,
.second-btn:hover:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.first-btn:hover,
.second-btn:hover {
  color: var(--white-color);
  text-decoration: none;
  border: none;
}
/*button down*/
.header-scroll-down-butt {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  z-index: 11;
  background-color: transparent;
  padding: 0;
  display: block;
  margin: 0;
  outline: none !important;
  border: none;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: var(--white-color);
}

.header-scroll-down-butt i {
  line-height: 15px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.header-scroll-down-butt i:nth-of-type(1) {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.header-scroll-down-butt i:nth-of-type(2) {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}
.header-scroll-down-butt i:nth-of-type(3) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

/*                            main                           */
/*                      about-us-section                      */
.about-us {
  background-color: var(--back-color);
  padding: 190px 0;
}
.about-us-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-img-cont {
  text-align: center;
  width: 50%;
  margin-inline-end: 15px;
  padding-inline-end: 120px;
}
.about-us-figrue {
  position: relative;
  width: 100%;
}
.about-us-figrue img {
  position: relative;
  z-index: 2;
}
.about-us-figrue::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset-inline-start: -50px;
  bottom: -50px;
  background-color: rgb(38, 64, 88);
  z-index: 1;
}
.about-us-content {
  width: 50%;
  margin-inline-start: 15px;
  text-align: start;
}
.section-head {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  color: var(--sec-color);
  margin-bottom: 20px;
}
.section-head::before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: var(--sec-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-start: -60px;
}
.about-us-head {
  font-weight: 600;
  font-size: 48px;
  color: var(--white-color);
  margin-bottom: 20px;
  text-transform: capitalize;
  text-align: start;
}
.about-us-shead {
  font-weight: 400;
  font-size: 24px;
  color: var(--white-color);
  margin-bottom: 30px;
  text-transform: capitalize;
  text-align: start;
  line-height: 1.6;
}
.about-us-pargh {
  font-weight: 300;
  font-size: 18px;
  color: var(--white-color);
  margin-bottom: 50px;
  text-align: start;
}
.about-us .link-btn-cont {
  justify-content: start;
}

/*                      about-us-section                      */
/*                      services-section                      */
.services {
  padding: 70px 0 200px;
  position: relative;
  overflow: hidden;
  text-align: start;
}
.section-head-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 60px;
  margin-bottom: 55px;
}
.section-head-flex h3 {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  color: var(--white-color);
  text-transform: capitalize;
  max-width: 375px;
}
html[dir="rtl"] .section-head-flex h3{
  max-width: unset;
}
.services .section-head,
.news .section-head {
  margin-inline-start: 60px;
}
.services-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.internal-services {
  padding: 80px 0 150px;
}
.internal-services .services-cont {
  gap: 65px 30px;
}
.services-box {
  overflow: hidden;
  width: 100%;
  display: flex;
}
.services-ancor {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: var(--white-color);
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.services-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.services-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 72, 97, 0.302);
  z-index: 2;
}
.services-img img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.services-ancor:hover {
  text-decoration: none;
  color: var(--main-hover);
}
.services-ancor:hover .services-img img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  overflow: hidden;
}

/*                      services-section                      */
/*           projects section                     */
.projects-slider {
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  margin-bottom: 230px;
}
.swiper-cont {
  position: relative;
}
.projects {
  position: relative;
  overflow: hidden;
}
.section-title-center {
  text-align: center;
  margin-bottom: 40px;
}
.section-span-center {
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  color: var(--sec-color);
  margin-bottom: 18px;
}
.section-head-center {
  font-weight: 600;
  font-size: 48px;
  color: var(--white-color);
  text-transform: capitalize;
}
.projects .pro-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.projects .pro-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 72, 97, 0.2);
  z-index: 2;
}
.projects .pro-img img {
  width: 100%;
  transition: all .3s ease-in-out;
}
.projects:hover img{
  transform: scale(1.05);
}
.projects-cont {
  position: absolute;
  top: 57%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}
.projects-name {
  font-weight: 700;
  font-size: 60px;
  color: var(--white-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 55px;
}
.projects-cont .link-btn-cont {
  justify-content: center;
}
.projects-cont .first-btn {
  margin-inline-end: 20px;
}
.projects-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 48px;
  color: var(--white-color);
  opacity: 0.2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1320px) {
  .projects-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.projects-slider .swiper-btn:hover {
  opacity: 1;
}
.projects-slider .swiper-btn i {
  z-index: 2;
}
.projects-slider .swiper-btn.swiper-btn-next {
  left: -67px;
}

.projects-slider .swiper-btn.swiper-btn-prev {
  right: -67px;
}

.projects-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .projects-slider .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects-slider {
    margin-bottom: 60px;
  }
}

.projects-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.projects-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--main-hover);
}

.projects-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--main-hover);
  opacity: 1;
}
/*                          projects-slider                             */
/*                            news-section                              */
.news {
  margin-bottom: 240px;
  text-align: start;
}
.news-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.news-box {
  overflow: hidden;
  width: 100%;
  text-align: start;
}
.news-ancor {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.news-ancor figure {
  margin-bottom: 0;
}
.hover-box {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 119, 33, 0.8);
  transition: all 0.3s ease-in-out;
}
.news-ancor:hover .hover-box {
  visibility: visible;
  opacity: 1;
}
.hover-box i {
  font-size: 48px;
  color: var(--white-color);
}
.news-span {
  font-weight: 500;
  font-size: 14px;
  color: var(--sec-color);
  text-transform: capitalize;
  display: inline-block;
  text-align: start;
  margin-bottom: 10px;
}
.news-name {
  font-weight: 400;
  font-size: 20px;
  color: var(--white-color);
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}
.news-name:hover {
  color: var(--main-hover);
  text-decoration: none;
}
/*                            news-section                              */
/*                      clients-section                      */
.clients-section {
  margin-bottom: 180px;
}
.clients-slider {
  position: relative;
}
.clients-section .section-head {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
  color: var(--black-color);
  margin-top: 0;
  margin-bottom: 45px;
}
.gallery-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  /* max-width: 164px;
  max-height: 164px; */
  margin: 0;
}
.gallery-img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gallery-figure:hover .gallery-img {
  transform: scale(1.05);
}
.clients-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 48px;
  color: var(--white-color);
  opacity: 0.2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1320px) {
  .clients-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.clients-slider .swiper-btn:hover {
  opacity: 1;
}
.clients-slider .swiper-btn i {
  z-index: 2;
}
.clients-slider .swiper-btn.swiper-btn-next {
  left: -67px;
}

.clients-slider .swiper-btn.swiper-btn-prev {
  right: -67px;
}

.clients-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
}

@media (max-width: 1320px) {
  .clients-slider .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.clients-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.clients-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--main-hover);
}

.clients-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--main-hover);
  opacity: 1;
}
@media (max-width: 767px) {
  .clients-section .section-head {
    font-size: 18px;
  }
}
/*                                  clients slider                    */
/*                              work-section                    */
.work-section {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.work-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 72, 97, 0.302);
  z-index: 1;
}
.work-cont-relative {
  position: relative;
  height: 550px;
}
.work-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  max-width: 820px;
  z-index: 2;
}
.work-head {
  font-weight: 700;
  font-size: 60px;
  color: var(--white-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 35px;
}
.work-pargh {
  font-weight: 300;
  font-size: 24px;
  color: var(--white-color);
  margin-bottom: 45px;
  text-align: center;
}
@media (max-width: 767px) {
  .work-cont-relative {
    height: 350px;
  }
}
/*                              work-section                    */
/*                                   footer                            */
/*                                   footer                            */
footer {
  padding-top: 100px;
  position: relative;
  overflow: hidden;
  text-align: start;
}
.footer-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer-logo {
  max-width: 210px;
  margin-bottom: 0;
}
.footer-img .foot-header {
  display: none;
}
.nav-foot-info {
  color: var(--white-color);
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.info-align {
  align-items: flex-start;
  text-transform: capitalize;
}
.info-align i {
  padding-top: 4px;
}
.nav-foot-info i {
  margin-inline-end: 20px;
  font-size: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.nav-foot-info:hover {
  text-decoration: none;
  color: var(--main-hover);
}
.first-footer {
  margin-bottom: 80px;
}
.footer-list h2 {
  padding: 0;
  margin: 0 0 25px;
}
.footer-list a {
  text-decoration: none;
}
.news-letter,
.nav-foot-cont {
  padding-top: 20px;
}
.foot-header {
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 600;
  font-size: 15px;
  color: var(--white-color);
}
.nav-foot-li {
  margin-bottom: 8px;
}
.nav-foot-link {
  color: var(--sec-color);
  font-size: 15px;
  font-weight: 400;
  display: inline-flex;
  transition: all 0.3s ease-in-out;
}
.nav-foot-li .nav-foot-link:hover {
  transform: translateX(6px);
  color: var(--main-hover);
}
html[dir="rtl"] .nav-foot-li .nav-foot-link:hover {
  transform: translateX(-6px);
}
.news-letter .news-span {
  color: var(--sec-color);
  font-size: 15px;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
}
.news-letter h3 {
  margin: 0 0 25px;
}
.newsletter-cont {
  position: relative;
}
.newsletter-input {
  text-align: start;
  background-color: #243e55;
  width: 100%;
  height: 50px;
  border-radius: 0px;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 400;
  color: var(--sec-color);
  border: 2px solid #243e55;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.newsletter-input::placeholder {
  color: var(--sec-color);
}
.newsletter-input:focus {
  border: 2px solid var(--main-hover);
}
.newsletter-button {
  position: absolute;
  inset-inline-end: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white-color);
  font-weight: 600;
  border: none;
  border-radius: 0;
  width: 138px;
  height: 50px;
  background-color: var(--main-hover);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.newsletter-button:hover {
  background-color: #f3802d;
}
.copy-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.102);
}
.copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: start;
  font-size: 14px;
  font-weight: 400;
  color: var(--sec-color);
}
.design-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: end;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: var(--sec-color);
}
.design-text i {
  margin: 0 4px;
  color: var(--main-hover);
}
.design-text .taswak-img {
  max-width: 100%;
  margin-inline-start: 5px;
  image-rendering: -webkit-optimize-contrast;
}

/*                             footer accordion                 */
.footer-accordion.nav-foot-header {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-accordion {
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-panel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  padding: 0 15px;
}
.news-letter .footer-panel {
  padding: 0;
}
.footer-accordion:after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  font-size: 13px;
  transition: all 0.5s ease-out;
}
html[dir="rtl"] .footer-accordion:after {
  content: "";
}
.footer-accordion.active:after {
  transform: rotate(90deg);
}
html[dir="rtl"] .footer-accordion.active:after {
  transform: rotate(-90deg);
}
/*                             footer accordion                 */
@media (max-width: 767px) {
  /*                             footer                          */
  footer {
    padding-top: 40px;
  }
  .footer-img .foot-header {
    display: flex;
  }
  .foot-header {
    font-size: 16px;
  }
  .news-letter .news-span {
    text-align: start;
    padding: 0 15px;
  }
  .news-letter form {
    text-align: center;
  }
  .news-letter h3 {
    margin-bottom: 10px;
  }
  .footer-img{
    align-items: center;
  }
  .footer-logo {
    margin-bottom: 35px;
  }
  .nav-foot-cont {
    margin-bottom: 0;
  }
  .news-letter,
  .nav-foot-cont {
    padding-top: 0;
  }
  .first-footer {
    margin-bottom: 50px;
  }
  .copy-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  .copy-right,
  .design-text {
    width: auto;
  }
  .copy-right {
    margin-bottom: 10px;
  }
  /*                             footer                          */
}
/*                                   footer                            */
/*                                    media query                                    */
@media (max-width: 1520px) {
  .nav-header figure img {
    max-width: 180px;
  }
  .nav-header li a {
    font-size: 16px;
  }
  main .main-captions {
    text-decoration: none;
    font-size: 45px;
    line-height: 55px;
  }
  .main-cont .first-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 171px;
    height: 45px;
    font-size: 14px;
  }
  .about-us {
    padding: 100px 0;
  }
  .section-head,
  .section-span-center {
    font-size: 16px;
  }
  .about-us-head {
    font-size: 38px;
  }
  .about-us-shead {
    font-size: 18px;
  }
  .about-us-pargh {
    font-size: 16px;
  }
  .section-head-flex h3,
  .section-head-center {
    font-size: 38px;
  }
  .services-ancor {
    font-size: 18px;
    align-items: center;
  }
  .projects-slider,
  .news,
  .clients-section {
    margin-bottom: 140px;
  }
  .clients-slider .swiper-btn,
  .projects-slider .swiper-btn {
    font-size: 38px;
  }
  .work-head,
  .projects-name {
    font-size: 50px;
  }
  .news-span {
    font-size: 12px;
  }
  .news-name {
    font-size: 16px;
  }
  .work-pargh {
    font-size: 20px;
  }
  .newsletter-input {
    height: 45px;
  }
  .newsletter-button {
    width: 118px;
    height: 45px;
    font-size: 14px;
  }
  .projects-cont {
    top: 58%;
  }
}
/*                    menu in phone size                      */
.hide-big{
  display: none;
}
@media (max-width: 991px) {
  .hide-big{
    display: flex;
  }
  .hide-sm{
    display: none;
  }
  .show-icons {
    display: flex;
  }
  .show-icons .menu-bars {
    display: block;
    position: relative;
    z-index: 300;
    width: 16px;
  }
  .fixed-nav .nav-header figure img,
  .nav-header figure img {
    max-width: 135px;
  }
  .fixed-nav .nav-header,
  .nav-header {
    padding: 10px 20px;
  }
  .menu-bars {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
  }
  .menu-bars:hover {
    color: var(--main-hover);
  }
  .nav-head .close-btn {
    color: #fff;
    font-size: 24px;
    display: none;
  }
  .navgition {
    display: block;
    position: fixed;
    padding: 30px 15px;
    padding-top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    clip-path: circle(10.9% at 16% 16%);
    background-color: rgba(36, 62, 85, 0.95);
    transition: 0.4s;
    z-index: 200;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  html[dir="ltr"] .navgition {
    clip-path: circle(11.2% at 86% 14%);
  }
  .reset-left {
    left: 0;
    top: 0;
    clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
  }
  html[dir="ltr"] .reset-left {
    clip-path: circle(121.2% at 86% 14%);
  }

  .nav-head {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 27px 20px;
  }
  .nav-head .first-head {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .nav-header .big-menu {
    display: block;
    flex-direction: column;
    text-align: start;
    align-items: baseline;
    padding: 30px 20px 0;
  }
  .nav-header li {
    margin-right: 0;
  }
  html[dir="rtl"] .nav-header li {
    margin-left: 0;
  }
  .big-menu li {
    margin-bottom: 20px;
  }
  .chevron-down {
    line-height: unset;
  }
  .nav-header li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
  }
  /*                    menu in phone size                      */
}
/*main*/
@media (max-width: 767px) {
  main .main-cont{
    text-align: center;
  }
  main .main-captions {
    font-size: 34px;
    line-height: unset;
    text-align: center;
  }
  .link-btn-cont{
    justify-content: center;
  }
  html[dir="rtl"] main .main-captions {
    font-size: 28px;
    line-height: unset;
  }
  .header-scroll-down-butt {
    font-size: 24px;
  }
  .header-scroll-down-butt i {
    line-height: 10px;
  }
}
/*main*/
/*about us*/
@media (max-width: 767px) {
  .about-us {
    padding: 80px 0 40px;
  }
  .about-us-cont {
    flex-direction: column;
  }
  .about-img-cont {
    width: 100%;
    margin: 0 0 60px;
    padding: 0;
  }
  .about-img-cont img {
    max-width: 90%;
  }
  .about-us-content {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .about-us-head {
    font-size: 28px;
    text-align: center;
  }
  .about-us-shead {
    font-size: 16px;
    text-align: center;
  }
  .about-us-pargh {
    font-size: 14px;
    text-align: justify;
    text-align-last: center;
  }
  .about-us .link-btn-cont {
    justify-content: center;
  }
}
/*about us*/
/*services*/
@media (max-width: 767px) {
  .services {
    padding: 80px 0 40px;
    text-align: center;
  }
  .section-head-flex {
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
  }
  .section-head-flex h3,
  .section-head-center {
    font-size: 28px;
    margin-bottom: 0;
    text-align: center;
  }
  .services .section-head,
  .news .section-head {
    margin-inline-start: 0px;
    text-align: center;
  }
  .section-head::before {
    display: none;
  }
  .section-head-flex {
    padding: 0;
  }
  .section-head {
    text-align: center;
  }
  .services::after {
    display: none;
  }
  .services-cont {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin-bottom: 45px;
  }
  .internal-services .services-cont {
    gap: 40px;
  }
  .internal-services {
    padding: 60px 0 100px;
  }
}
/*services*/
/*projects*/
@media (max-width: 767px) {
  .projects-slider,
  .news,
  .clients-section {
    margin-bottom: 100px;
    text-align: center;
  }
  .projects-name {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .projects-cont {
    position: static;
    transform: none;
    top: unset;
  }
  .projects-cont .link-btn {
    width: 125px;
    height: 36px;
  }
  .projects-cont .first-btn:before{
    background-color: #ec7721;
  }
}
/*projects*/
/*news*/
@media (max-width: 767px) {
  .news-cont {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 45px;
  }
}
/*news*/
/*work*/
@media (max-width: 767px) {
  .work-head {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .work-pargh {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
/*work*/
@media (max-width: 767px) {
  .nav-foot {
    flex-direction: column;
    align-items: center;
  }
}
/*                                    media query                                    */

.fixall {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

/*overlay*/
.overlay-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  background-color: #000;
  opacity: 0.4;
  display: none;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media (min-width: 1520px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1410px;
  }
}
@media (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/*slide down menu*/
.mega-menu {
  position: relative;
}
@media (min-width: 992px) {
  .mega-menu:hover .btn-div {
    color: var(--main-hover);
  }
  .mega-menu:hover .cats-dispaly {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
}
.cats-dispaly {
  position: absolute;
  inset-inline-start: -22px;
  top: calc(100% + 5px);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  /* width: max-content; */
  width: 200px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: none;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}
.cats-dispaly::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
  inset-inline-start: 22px;
  transition: 0.3s;
  opacity: 1;
}
.cats-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cats-dispaly li,
html[dir="rtl"] .cats-dispaly li {
  margin: 0;
  padding: 5px 0;
}
.cats-dispaly li a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  display: block;
  display: flex;
  justify-content: start;
  text-align: start;
  width: 100%;
  padding: 0px;
  transition: all 0.3s ease-in-out;
}
.cats-dispaly li:hover > li a {
  color: var(--main-hover);
}
.chevron-down::after {
  content: "";
  font-family: "line Awesome Free";
  font-size: 12px;
  margin-inline-start: 4px;
  font-weight: 900;
}
@media (max-width: 991px) {
  .cats-div {
    align-items: center;
    padding: 0;
    width: unset;
    align-items: center;
  }
  .cats-dispaly::before {
    display: none;
  }
  .cats-dispaly {
    min-width: unset;
    z-index: 99;
    padding: 0;
    height: unset;
    margin: 0 auto;
    background-color: transparent;
    justify-content: center;
  }
  .cats-dispaly li a {
    justify-content: center;
    font-size: 20px;
    color: var(--white-color);
  }
  .cats-dispaly::before {
    display: none;
  }
  .cats-dispaly {
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    transition: none;
    box-shadow: none;
  }
  html[dir="rtl"] .cats-dispaly {
    box-shadow: none;
  }
  .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  html[dir="rtl"] .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  html[dir="ltr"] .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  .chevron-down::after {
    content: "";
    font-family: "line Awesome Free";
    font-size: 12px;
    margin-inline-start: 4px;
    font-weight: 900;
  }
}

/*                                 arrow-top                           */
.arrow-top {
  position: fixed;
  bottom: 75px;
  right: 20px;
  display: none;
  z-index: 10;
  text-decoration: none !important;
}
.arrow-top i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  /* box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15); */
  font-size: 20px;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow-top i:hover {
  background-color: var(--main-hover);
  color: var(--white-color);
}
.fixed-what {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  text-decoration: none !important;
}
.fixed-what i {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4dc247;
  font-size: 42px;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fixed-what i:hover {
  background-color: var(--main-hover);
}
@media (max-width: 767px) {
  .arrow-top {
    bottom: 65px;
    right: 14px;
  }
  .fixed-what {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .fixed-what i {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}

/*breadcrumb*/
.breadcrumb-sec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
}
.breadcrumb-sec .page-head {
  font-size: 48px;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 15px;
  position: relative;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
  z-index: 2;
}
ol.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
ol.breadcrumb li a,
ol.breadcrumb li span,
ol.breadcrumb li {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  font-size: 14px;
  color: var(--white-color);
  font-weight: 500;
  text-decoration: none !important;
}
ol.breadcrumb li a,
ol.breadcrumb li span,
ol.breadcrumb li {
  font-weight: 400;
}
ol.breadcrumb li a:hover {
  color: var(--main-hover);
}
ol.breadcrumb li:not(.active):after {
  content: "/";
  padding: 0 7px;
}
.custum-breadcrumb {
  padding: 275px 0 85px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.custum-breadcrumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(45, 72, 92);
  background: linear-gradient(
    180deg,
    rgba(45, 72, 92, 0.5) 0%,
    rgba(2, 0, 36, 0) 50%,
    rgba(2, 0, 36, 0) 100%
  );
  z-index: 1;
}
.custum-breadcrumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 72, 97, 0.302);
  z-index: 1;
}
.custum-breadcrumb ol.breadcrumb {
  justify-content: center;
}
@media (max-width: 1400px) {
  .custum-breadcrumb {
    padding: 200px 0 85px;
  }
}
@media (max-width: 991px) {
  .custum-breadcrumb,
  .breadcrumb-sec {
    background: none !important;
    padding: 130px 0 40px;
  }
  .custum-breadcrumb::after {
    display: none;
  }
  ol.breadcrumb {
    display: none;
  }
  .breadcrumb-sec .page-head {
    font-size: 36px;
  }
}
/*breadcrumb*/
/* product-logo */
.product-logo {
  margin-bottom: 90px;
}
.product-logo-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  align-content: center;
  max-width: 935px;
  margin: 0 auto;
}
.product-logo-ancor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.product-logo-img {
  margin: 0;
  width: 100%;
}
.product-logo-img img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product-logo-ancor:hover .product-logo-img img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
@media (max-width: 991px) {
  .product-logo-cont {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
/* product-logo */
